@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
}

.header-main {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}

.header-logo {
  width: 20%;
}

.header-logo img {
  width: 80%;
}

.header-main a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.header-main h3 {
  color: white;
}

.header-nav a {
  margin-right: 20px;
}

.Main {
  padding: 0px;
  margin: 0;
  display: grid;
  justify-content: center;
  position: relative;
}

.Main::after {
  content: "";
  background-image: url(src/images/fondo.jpg);
  background-size: contain;
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.Characters {
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  display: grid;
  margin: 20px auto;
}



.character-inner {
  width: 90%;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.characters-card {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  animation-duration: 2s;
  animation-name: fade;
}

.characters-card img {
  width: 90%;
  height: auto;
  border-radius: 5px;
  margin: 15px auto;
}

.characters-card h2 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.characters-card h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 20px;
}

.Character-item {
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  animation-duration: 2s;
  animation-name: fade;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.7);
}

.Character-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
}

.Character-item a {
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  background: transparent;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Character-item a h2 {
  font-size: 1em;
}

.Character-item img {
  width: 90%;
  height: auto;
  margin: 5px auto;
  border-radius: 5px;
}

.Characters-item h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.Characters-item a {
  text-decoration: none;
  color: #026C86;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
  .Characters {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;
  }
}

@media screen and (max-width: 680px) {
  .character-inner {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    grid-row-gap: 1em;
  }
}

@media screen and (max-width: 520px) {
  .Characters {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
  }
}

@media screen and (max-width: 478px) {
  .Characters {
    grid-template-columns: 1fr;
    width: 60%;
  }

  .header-main {
    height: 130px;
    flex-direction: column;
    justify-content: center;
  }

  .header-main h1 {
    font-size: 1.3em;
  }

  .header-main h3 {
    margin: 5px auto;
    font-size: 1em;
  }
}

.Footer-pages {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}

.Footer-pages h4 {
  margin: 10px;
}

.Footer-pages a {
  color: white;
  padding: 5px;
  display: inline-block;
}